[user]
pinned=/usr/share/applications/firefox.desktop;/usr/share/applications/thunar.desktop;/usr/share/applications/org.mozilla.Thunderbird.desktop;/usr/share/applications/org.manjaro.pamac.manager.desktop;
virt-manager.desktop;
middleButtonBehavior=1
indicatorStyle=4
inactiveIndicatorStyle=4
showWindowCount=false
showPreviews=true
